<h1>Canvas Demo</h1>
<canvas id="primaryCanvas"></canvas>

<div 
    @* class="jumbotron" *@
    @* @onkeydown="@KeyDown" *@
    @* tabindex="0" *@
    @* @ref="_divElement"*@ >
    <button @onclick="() => MovePlayer(Direction.Left)">Left</button>
    <button @onclick="() => MovePlayer(Direction.Right)">Right</button>
    <button @onclick="() => MovePlayer(Direction.Up)">Up</button>
    <button @onclick="() => MovePlayer(Direction.Down)">Down</button>
</div>
