<div style="width:800px; height: 800px; position: relative" class="container border">
    @* <div id="player" style="width:20px; height: 20px; position: absolute; top: 0; left: 0;" class="bg-black border"> *@
    @*      *@
    @* </div> *@
    <GridHexComponent/>
</div>