@* <div class="hexagon"></div> *@
@* *@
@* <div class="hex_main"> *@
@*     kjhgjhgjhghj111111 *@
@*     <div class="hex_container"> *@
@*         <div>1</div> *@
@*         <div>2</div> *@
@*         <div>3</div> *@
@*         <!--etc. --> *@
@*     </div> *@
@* </div> *@
<ul id="hexGrid">
    @for (int i = 0; i < 100; i++)
    {
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    @* <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" /> *@
                    @* <h1>This is a title</h1> *@
                    @* <p>Some sample text about the article this hexagon leads to</p> *@
                </a>
            </div>
        </li>
    }
</ul>