<h3>@PointOfInterest.Introduction</h3>
<br/>
<i>
    <b>@PointOfInterest.Detail</b>
</i>
<br/>
<ol>
    @{
        foreach (var option in PointOfInterest.Options)
        {
            <li>@option</li>
        }
    }
</ol>